.formContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-start;
  gap: 20px;
}

.fieldset {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 5px;
  border-color: #6a6d78;
}

.fieldsetTitle {
  font-size: 16px;
}

.label {
  font-size: 14px;
  padding-bottom: 5px;
}

.input {
  background-color: transparent;
  color: #d1d4dc;
  border: 1px solid #6a6d78;
  border-radius: 2px;
  padding: 0 12px;
  font-size: 14px;
  line-height: 32px;
  box-sizing: border-box;
  margin-top: 5px;
}

.input:focus {
  outline: none;
  border-color: #2962ff;
}

.button {
  background-color: #2962ff;
  border-color: #2962ff;
  color: #fff;
  border: none;
  border-radius: 4px;
  box-sizing: border-box;
  cursor: pointer;
  display: inline-block;
  font-size: 14px;
  line-height: 32px;
  margin: 0;
  min-width: 40px;
  outline: 0;
  overflow: hidden;
  padding: 1px 22px;
  position: relative;
  text-align: center;
  text-decoration: none;
}
